<% if @user.caregiver %>
	<h1>Notify Setting Schedule</h1>

	<p>
	  Hi <%=@user.first_name %>,
	  <br>
	  請設定下週行程 
	  <%#= link_to "行程", schedules_url %>
	</p>
<% else %>
	<h1>Notify Confirming Schedule</h1>

	<p>
	  Hi <%=@user.first_name %>,
	  <br>
	  請確認下週行程 
	  <%= link_to "確認行程", schedule_url(@user.requester.caregivers.first) %>
	</p>

<% end %>





	