<div id="banner">
	<div class="container">
	    <div class="row">
	        <div class="col-sm-8">
	            <div class="banner-content">
	                <div class="banner-content-inner">
	                    <h1>長照守護家 Tech Care <br></h1>
	                    <h2>讓所有需要被照顧的人，得到妥善的照顧</h2><br><br>  
	                    <%= link_to '開始使用', new_user_session_path, :class=>"btn btn-outline btn-xl page-scroll" %>
	                    
	                </div>    
	            </div>
	        </div>
	        <div class="col-sm-4">
	            
	        </div>
	    </div>
	</div>
</div>
<div class="login">
	<%= render 'devise/sessions/form' %>
</div>

<script>
$( ".banner-content-inner a" ).click(function(event) {
	event.preventDefault();
	$( "#banner" ).toggleClass( "open" );
  $( ".login" ).toggleClass( "open" );
});

</script>
