<div class="login-container">

    <nav class="navbar">
      <div class="login-logo" style="width:300px;margin: 20px auto;">
        <div id="logo" class="pull-left">
          <%= image_tag("logo_v3.png") %>
        </div>
        <div class="logo-text pull-left" style="color: #57D1C2;margin-left:5px;margin-top:-10px;">
          <h2>長照守護家</h2>
        </div>
      </div>
    </nav>  

    <div>
       <%= render :partial => 'form' %>
    </div>

</div>
