/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcomes";
@import "c3";

table {
  background-color: transparent;
  table-layout: fixed;
}
.navbar{
	padding-top: 30px;
}
.nav-content{
	background-color: #F0F1F2;
	color: #000;
}
.nav-content li{
	color: #000;
}
.middle.col-md-2{
	h3{
		position: absolute;
		top: 13px;
    left: 30px
	}
	h4{
		position: absolute;
		top: 10px;
    left: 40px
	}
}
#logo img{
	width: 80px;
	height: auto;
}
.user img{
	position: absolute;
	top: -15px;
	width: 97px;
	height: auto;
}

.nav-content a {
	color: #000;
}

.nav-content a:hover {
	border: solid #E5829A;
	color: #E5829A;
}

