/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcomes";
@import "c3";

table {
  background-color: #fff;
  table-layout: fixed;
}
.navbar{
	padding-top: 30px;
}
.nav-content{
	background-color: #F0F1F2;
	color: #000;
}
.nav-content li{
	color: #000;
}
.middle.col-md-2{
	h2{
		position: absolute;
		top: -10px;
    left: 10px;
    font-weight: bold;
    color: #57D1C2;
	}
	h4{
		position: absolute;
		top: -20px;
    left: 15px;
    color: #27496F;
	}
}
.middle.col-md-1{
	h5{
		margin-left: -25px;
		position: absolute;
		top: -10px;
    font-weight: bold;
	}
}
#logo img{
	margin-left: 20px;
	margin-top: -10px;
	margin-bottom: 10px;
	width: 70px;
	height: auto;
}
.user img{
	position: absolute;
	top: -15px;
	width: 65px;
	height: auto;
}

.nav-content a {
	color: #000;
}

.nav-content a:hover{
	background-color:#57D1C2 !important;
	color: #fff;
}


