.login-form {
	width: 40%;
	margin: 0 auto;
	position: absolute;
	left:30%;
	top: 20%;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
}

.field.form-group{
	margin: 1px;
}

.btn.login {
	color: #fff;
	border-radius: 5px;
	width: 100%;
}

.btn.login:hover {
	color: #fff;
	border-radius: 5px;
	width: 100%;
	font-weight: bold;
}

.sign-up.btn {
	color: #F17191;
	border-radius: 5px;
	border:2px #FDA5BB solid;
}

.sign-up.btn:hover{
	color: #F17191;
	border-radius: 5px;
	border:2px #FDA5BB solid;
	font-weight: bold;
}




